.blog {
    text-align: left;
    margin: 5rem 4rem;
    font-family: 'Roboto';
}

.blog__titulo {
    color: crimson;
    padding-bottom: 1rem;
    border-bottom: .75rem solid crimson;
}

.blog__anyadir {
    display: flex;
    flex-direction: column;
}

input {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

button {
    color: crimson;
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 8rem;
    height: 2rem;
    border-radius: 1rem;
    border: 1px solid crimson;
}

button:hover {
    color: white;
    background-color: crimson;
}

